COMPOSE_PROJECT_NAME=hanjjak
PUBLIC_ORIGIN=https://game.example.com
GMAIL_USERNAME=replace-with-gmail-address
GMAIL_APP_PASSWORD=replace-with-google-app-password
PASSWORD_RESET_TOKEN_LIFETIME=30m
PASSWORD_RESET_RATE_LIMIT_MAX_REQUESTS=3
PASSWORD_RESET_RATE_LIMIT_WINDOW=15m
GOOGLE_OAUTH_ENABLED=false
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
KAKAO_OAUTH_ENABLED=false
KAKAO_OAUTH_CLIENT_ID=
KAKAO_OAUTH_CLIENT_SECRET=
NAVER_OAUTH_ENABLED=false
NAVER_OAUTH_CLIENT_ID=
NAVER_OAUTH_CLIENT_SECRET=
SSAFY_GITLAB_OAUTH_ENABLED=false
SSAFY_GITLAB_OAUTH_CLIENT_ID=
SSAFY_GITLAB_OAUTH_CLIENT_SECRET=
BATTLE_COMPATIBILITY_API_ENABLED=false
IMAGE_TAG=replace-with-commit-sha
POSTGRES_DB=hanjjak
POSTGRES_USER=hanjjak
POSTGRES_PASSWORD_FILE=C:/ProgramData/hanjjak/secrets/db_password
TUNNEL_TOKEN_FILE=C:/ProgramData/hanjjak/secrets/cloudflare_tunnel_token
ADMIN_GITLAB_OAUTH_ENABLED=false
ADMIN_GITLAB_OAUTH_CLIENT_ID=
ADMIN_GITLAB_OAUTH_CLIENT_SECRET=
ADMIN_GITLAB_ALLOWED_USERNAMES=replace-with-gitlab-username
WEB_BIND_ADDRESS=127.0.0.1
WEB_PORT=18080
BASIC_AUTH_ENABLED=false
BASIC_AUTH_USERNAME=hanjjak
BASIC_AUTH_PASSWORD=
BACKUP_DIR=C:/ProgramData/hanjjak/backups
BACKUP_RETENTION_DAYS=14
